<% content_for :sidebar do %>
  <%= render :partial => 'environments/sidebar', :locals => {:environments => @treeview_root} %>
<% end %>

<p id="notice"><%= notice %></p>

<h1>My environments</h1>

<table class="data-table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Last update</th>
    <th></th>
  </tr>
  <% @environments.each do |environment| %>
    <tr>
      <td><%= environment.id %></td>
      <td><%= environment.name %></td>
      <td><%= human_date(environment.updated_at) %></td>
      <td class="actions">
        <%= link_to 'Show', environment %> |
        <%= link_to 'Edit', edit_environment_path(environment) %> |
        <%= link_to 'Destroy', environment, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Directory', new_environment_path %>
