<% content_for :sidebar do %>
  <h2>Environments</h2>
  <%= render :partial => 'tree', :locals => {:environments => @treeview_root} %>
<% end %>


<% content_for :menu do %>
  <%= render :partial => 'menu' %>
<% end %>
<h1>
  <%= @environment.name %>
</h1>
<table id="env-vars">
  <tr>
    <th>Key</th>
    <th>Value</th>
    <th>Origin</th>
    <th>Action</th>
  </tr>
  <% for var in @environment.inherited_variables %>
    <tr>
      <td>
        <input type="text" value="<%= var.key %>" name="key" />
      </td>
      <td>
        <input type="text" value="<%= var.value %>" name="value" /></td>
      </td>
      <td><%= var.environment.name%></td>
      <td>
        <% if var.environment == @environment %>
          <%= link_to 'Save', variable_path(var.id), {:class => 'button save-variable'} %>
        <% else %>
          <%= form_tag('/variables', method: 'POST') do %>
            <%= hidden_field_tag 'variable[key]', var.key %>
            <%= hidden_field_tag 'variable[value]', var.value %>
            <%= hidden_field_tag 'variable[environment_id]', @environment.id %>
            <%= submit_tag('Override', {:class => 'button'}) %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
