<% content_for :sidebar do %>
  <h2>Environments</h2>
  <%= render :partial => 'tree', :locals => {:environments => @treeview_root} %>
<% end %>


<% content_for :menu do %>
  <%= render :partial => 'menu' %>
<% end %>

<h1>Users for environment <%= @environment.name %></h1>

<table>
  <% for user in @users %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= human_date(user.created_at) %></td>
    </tr>
  <% end %>
</table>

<%= form_tag(environment_path(@environment) + '/add_user', method: 'PATCH') do %>
  <%= email_field_tag(:email, :email) %>
  <%= submit_tag('Add user', {:class => 'button'}) %>
<% end %>
