<% content_for :sidebar do %>
  <%= render partial: 'sidebar', locals: {environments: @treeview_root} %>
<% end %>


<% content_for :menu do %>
  <%= render :partial => 'menu' %>
<% end %>

<h1>Users for environment <%= @environment.name %></h1>

<%= form_tag(environment_path(@environment) + '/add_user', method: 'PATCH', class: 'form') do %>
  <%= email_field_tag(:email, '', placeholder: 'user email') %>
  <%= submit_tag('Add user', {:class => 'button'}) %>
<% end %>

<table class="data-table">
  <tr>
    <th>Id</th>
    <th>Email</th>
    <th>Created at</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= human_date(user.created_at) %></td>
    </tr>
  <% end %>
</table>
