<!DOCTYPE html>
<html>
<head>
  <title>EnvConfigManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <div id="sidebar">
      <h2>Environments</h2>
      <%= render :partial => "tree", :locals => {:environments => @environments} %>
    </div>
    <div id="main">
      <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </div>
</body>
</html>
