<!DOCTYPE html>
<html>
<head>
  <title>Varager</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <div id="sidebar">
      <%= yield(:sidebar) %>
    </div>
    <div id="main">
      <header>
        <div id="session">
          <% if user_signed_in? %>
            Logged in as <%= current_user.email %> |
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> |
            <%= link_to('Edit registration', edit_user_registration_path) %>
          <% else %>
            <%= link_to('Login', new_user_session_path)  %> |
            <%= link_to('Register', new_user_registration_path)  %>
          <% end %>
        </div>
      </header>
      <%= yield(:menu) %>
      <div id="content">
        <% if notice %>
          <p class="message notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="message alert"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
